.about {
    display: flex;
    gap: 50px;
    margin: 100px;
}

.technologies {
    flex-basis: 50%;
}

.description {
   flex-basis: 50%;
}

.technologies h1 {
    text-align: center;
    margin-bottom: 20px;
}

.technologies .platforms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.technologies .platforms h3 {
    margin: 0;
}

.description p {
    margin-bottom: 1em;
    text-align: justify;
}